#define STDIN 0
#define STDOUT 1
#define STDERR 2
#define PROT_EXEC 4
#define O_RDONLY 0
DEFAULT ALLOW
POLICY oj_policy {
  DENY {
    // 明确禁止的危险操作
    fork,          // 禁止创建进程
    connect,       // 禁止网络访问
    socket
  }
}
USE oj_policy